In [2]:
import numpy as np
import pandas as pd

## DataFrame

In [ ]:
d = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]),
}
df = pd.DataFrame(d)

In [29]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

## Series

Two strcutures in pandas: 

* Series - indexed array
* DataFrame - 2D table

Both datastructures canhold any type of data in python

We will need to learn indexing, axis labeling, and alignment. Data alignment is automatic.

In [8]:
data = [1, 2, 3]
s = pd.Series(data)
print(s)

0    1
1    2
2    3
dtype: int64

In [15]:
sims = {"sim0": 1, "sim1":2}
sims = pd.Series(sims, index=['sim0', 'b', 'sim1'])

# sim0 got pulled out, while the other indexes were not found,
# NaN is pandas marker, not a number

In [24]:
# iloc is the slicing operation here 
sims.iloc[:3]

sim0    1.0
b       NaN
sim1    2.0
dtype: float64